/* main style for page */
.body {
  background: black;
  margin-left: 10pc;
  margin-right: 10pc;
  margin-top: 10pc;
  margin-bottom: 10pc;
}

/* basic text */
.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: rgb(255, 255, 255);
}

.pwhite {
  color: white;
}

.pblack {
  color: black;
}

/* Sidebar styles */
#sidebar {
  width: 50rem;
  border-right: solid 1px #e3e3e3;
  display:inline-flex;
  flex: 0 6 auto;
  flex-direction: column;
}

#sidebar ul {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 2rem;
}

#sidebar a {
  color: rgb(17, 219, 17);
  font-weight: bold;
}

#sidebar a:hover {
  color: white;
}

/* landing page photo */
.profile {
  margin-left: 10pc;
  flex: 0 6 auto;
}

.inline {
  display: flex;
}

/* resume */
.resume {
  flex-direction: column;
  display:inline-flex;
  flex: 1 1 auto;
}

/* fleur de lis */
h1:before {
  content: '\2022\ ';
}

h1:after {
  content: ' \2022';

}

