/* main style for page */
.body {
  background: black;
  margin-left: 10pc;
  margin-right: 10pc;
  margin-top: 10pc;
  margin-bottom: 10pc;
}

/* basic text */
.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: snow;
}

.pwhite {
  color: white;
}

/* .pblack {
  color: black;
} */

/* name */
@font-face {
  font-family: nameFont;
  src:url(/Users/sadkins/Library/Fonts/Tektur-VariableFont_wdth,wght.ttf);
}

@keyframes fade-name {
  0%{opacity: 1; color: rgb(17, 219, 17)}
  100%{opacity: .30; color: white} 
}

.fade-name-1 {
  font-family: nameFont;
  animation: fade-name 7s infinite alternate;
}

.fade-name-2 {
  font-family: nameFont;
  animation: fade-name 5s infinite alternate-reverse;
}

.fade-name-3 {
  font-family: nameFont;
  animation: fade-name 3s infinite alternate;
}

.fade-name-4 {
  font-family: nameFont;
  animation: fade-name 10s infinite alternate-reverse;
}

/* Sidebar styles */
#sidebar {
  width: 50rem;
  border-right: solid 1px #e3e3e3;
  display:inline-flex;
  flex: 0 6 auto;
  flex-direction: column;
}

#sidebar ul {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 2rem;
}

#sidebar a {
  color: rgb(17, 219, 17);
  font-weight: bold;
}

#sidebar a:hover {
  color: white;
}

/* landing page photo */
.profile {
  margin-left: 10pc;
  flex: 0 6 auto;
}

.inline {
  display: flex;
}

/* resume */
.resume {
  flex-direction: column;
  display:inline-flex;
  flex: 1 1 auto;
  /* font-family: 'Times New Roman', Times, serif; */
}

/* bracket */
.bracket1:before {
  content: '\2774\ ';
  color:white;
  font-size: 100pt;
  margin-left: 10pc;
}

.bracket2:after {
  content: ' \2775';
  color:white;
  font-size: 100pt;
  margin-right: 10pc;
}

/* link styles*/
#link a {
  color: rgb(17, 219, 17);
}

#link a:hover {
  color:white;
}
